extends layout 

block content   

    h1 Comments
    - let str = JSON.stringify(comments)
    - let parsed = JSON.parse(str)
    if parsed.length > 0
        a(href=`/`)
            p Go Back
        each comment in parsed
            div.comment-layout
                p #{comment.body}
                p #{comment.timestamp}
                p #{comment.user.username}
            if (comment.user._id.toString() === current_user._id.toString())
                a(href='/') Edit Comment 
            if ((comment.user._id.toString() === current_user._id.toString()) || comment.post.author.toString() === current_user._id.toString() )
                a(href='/') Delete Comment
    else
        p No Comments