extends layout 

block content   

    h1 Comments
    - let str = JSON.stringify(comments)
    - let parsed = JSON.parse(str)
    if parsed.length > 0
        a(href=`/`)
            p Go Back
        each comment in parsed
            div.comment-layout
                p #{comment.body}
                p #{comment.timestamp}
                p #{comment.user.username}
            a(href='/') Edit Comment 
            a(href='/') Delete Comment
    else
        p No Comments