extends layout 

block content 
    div.delete-comment-page 
        a.cancel-edit-post(href=`/posts/`) X 
        fieldset.delete-comment-form
            h1 Delete?
            h3 Are you sure to want to delete?
            - let str = JSON.stringify(comments)
            - let parsed = JSON.parse(str)
            each comment in parsed 
                div.comment-layout 
                    p #{comment.body} 
                    p #{comment.timestamp} 
                    p #{comment.user}
            form(action='' method='POST' id='delete-comment-form')
                div.form-group 
                    button.btn.btn-primary(type='submit') Delete
                a(href='/') Cancel