extends layout 

block content 

    h1 Are you sure you want to delete this comment?
    - let str = JSON.stringify(comments)
    - let parsed = JSON.parse(str)
    each comment in parsed 
        div.comment-layout 
            p #{comment.body} 
            p #{comment.timestamp} 
            p #{comment.user}
    form(action='' method='POST' id='delete-comment-form')
        div.form-group 
            button.btn.btn-primary(type='submit') Yes
    a(href='/') Cancel