extends layout 

block content 
    div.delete-comment-page 
        a.cancel-delete-comment(href=`/posts/`) X 
        div.delete-comment-form
            h1 Delete?
            h3 Are you sure to want to delete?
            - let str = JSON.stringify(comments)
            - let parsed = JSON.parse(str)
            each comment in parsed 
                div.comment-layout 
                    p #{comment.body} 
                    p #{comment.timestamp} 
                    p #{comment.user}
            div.delete-confirmation
                form.delete-confirmation(action='' method='POST' id='delete-comment-form')
                    div.form-group 
                        button.btn.btn-primary.delete-confirmation-button.delete-button(type='submit') Delete
                    a(href='/')
                        button.delete-confirmation-button Cancel