extends layout 

block content 

    div.delete-post
        div.delete-post-form
            h1 Delete Post?
            h3.delete-post-header Are you sure you want to delete this post?
            - let str = JSON.stringify(post)
            - let parsed = JSON.parse(str)
            each post in parsed 
                div.post-layout 
                    p #{post.body} 
                    p.delete-post-timestamp #{post.timestamp}
            div.delete-confirmation
                form(action='' method='POST' id='delete-post-form')
                    div.form-group 
                        button.btn.btn-primary.delete-confirmation-button.delete-button(type='submit') Delete
                a(href='/') 
                    button.delete-confirmation-button Cancel