extends layout 

block content   
    - let str = JSON.stringify(post)
    - let parsed = JSON.parse(str)
    each post in parsed
        div.edit-post-page
            a.cancel-edit-post(href=`/`)
                p X
            fieldset.edit-post
                h1.edit-post-header Edit Post
                form.edit-post-form(action='' method='POST' id='edit-post-form')
                    div.form-group
                        textarea#edit-body-form.form-control(type='text', name='body', rows='8')
                            | #{post.body}
                    button.btn.btn-primary.edit-post-submit(type='submit' ) Submit
                if errors 
                    ul 
                        for error in errors 
                            li!= error.msg