- let str = JSON.stringify(friends)
- let parsed = JSON.parse(str) 
each friend in parsed

    doctype html
    html
    head
        title #{friend.username}'s Friends
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content