extends layout

block content
    div.homepage-body   
        div.homepage-left   
            img.text-logo(src="https://see.fontimg.com/api/renderfont4/JRzmB/eyJyIjoiZnMiLCJoIjo1MywidyI6MTAwMCwiZnMiOjUzLCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiIzgyOEMzMCIsInQiOjF9/SW5zdGFCb29r/brilliant-mastaka.png" alt="Instagram fonts")
            div.homepage-left-link
                img.icon(src="icons/home-outline.png")
                p Home
        div.homepage-center 
            p Mid
        div.homepage-right 
            p Right
