extends layout 

block content 

    h1 Photos
        form(method='post', enctype='multipart/form-data')
            input(type='file', name='image' id='image')
            input(type='submit', name='uploadimage', value='Upload Image')
    h2 Uploaded Images 
        p #{items}
        - let str = JSON.stringify(str)
        - let parsed = JSON.parse(str)
        each item in parsed 
        img(src=`data:image/${image.img.contentType}`)