extends layout 

block content 

    h1 Photos
        form(method='post', enctype='multipart/form-data')
            input(type='file', name='image' id='image')
            input(type='submit', name='uploadimage', value='Upload Image')
    h2 Uploaded Images 
        p #{items}