extends layout 

block content 
    a(href='/') Back to log in
    p #{info}
    form.sign-up-form(action="" method='POST')
        div.form-group 
            fieldset 
                img.text-logo(src="https://see.fontimg.com/api/renderfont4/JRzmB/eyJyIjoiZnMiLCJoIjo1MywidyI6MTAwMCwiZnMiOjUzLCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiIzgyOEMzMCIsInQiOjF9/SW5zdGFCb29r/brilliant-mastaka.png" alt="Instagram fonts")
                h3.sign-up-text Sign up to see photos and
                    br
                    | videos from your friends.
                div.field
                    input#first_name.form-control(type='text', name='first_name', placeholder='First Name')
                div.field
                    input#last_name.form-control(type='text', name='last_name', placeholder="Last Name")
                div.field
                    input#username.form-control(type='text', name='username', placeholder='Username')
                div.field
                    input#password.form-control(type='password', name='password', placeholder="Password")
                div.field
                    input#confirm_password.form-control(type='password', name='confirm_password', placeholder="Confirm Password") 
                button.btn.btn-primary(type='submit') Sign up
    if errors 
        ul 
            for error in errors 
                li!= error.msg