body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

/*Add this to body 
  padding: 0px;
  margin: 0px;
  border: 0px;*/

.text-logo {
  height: 40px;
  width: auto;
}

.login-form, .form-group {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.failed-login-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.login-btn {
  background-color: cornflowerblue;
}

.sign-up-btn {
  background-color: cornflowerblue;
}

.insta-screenshot {
  height: 500px;
}

.form-group {
  gap: 20px;
}

.form-group>fieldset {
  flex: 1;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 20px;
}

.sign-up-text {
  color: gray
}

.sign-up-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incorrect-password-notice {
  color: red;
}

.homepage-body {
  padding: 0px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin-left: 300px;
}

.homepage-left, .user-page-left {
  border-right: 1px solid rgba(0, 0, 0, .3);
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.homepage-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.homepage-link {
  font-weight: bold;
}

.homepage-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.homepage-right {
  margin-left: 20px;
}

.homepage-left-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.homepage-left-link>img {
  height: 30px;
}

.homepage-left-link>a, .logout-link {
  font-size: 20px;
  text-decoration: none;
  color: black
}

a>.icon {
  height: 30px;
}

.icon {
  height: 25px;
}

a {
  color: #00B7FF;
}

.user-index-midpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 20px;
  margin-left: 300px;
}

.user-cards {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 60%;
}

.user-friend-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.accept-friend-request-button, .add-friend-button {
  background-color: cornflowerblue;
  margin-top: 13px;
  margin-bottom: 13px;
}

.profile-header {
  display: flex;
  justify-content: center;
  gap: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  width: 95%
}

.profile-user-stats, .profile-posts {
  display: flex;
  flex-direction: column;
}

.profile-posts {
  justify-content: center;
  align-items: center;
  width: 95%;
  padding-right: 20px;
}

.profile-user-stats-name, .profile-user-stats-count  {
  display: flex;
}

img, .friends-list-user-profile-pic {
  height: 200px;
  width: auto;
}

button {
  background-color: white;
  border: 0px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-group {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
}

.post-card {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.post-body {
  font-size: 20px;
}

.post-card-poster {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-card-interaction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.user-page-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.user-page-right {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.user-link {
  text-decoration: none;
  color: black;
}

.heart-button {
  padding: 0px;
  cursor: pointer;
}

.comment-icon {
  height: 300px;
}

.username-link {
  text-decoration: none;
  color: black;
}

a>img{
  height: 20px;
}

.post-card.info {
  border: none;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-top: 0px;
}

.post-card.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info > * {
  margin: 0px;
}

.post-author-timestamp {
  display: flex;
  gap: 10px;
}

.post-edit-delete {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.post-edit-delete > a {
  color: red
}

.user-cards > p {
  text-decoration: none;
}

.comment-layout {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.profile-post-layout {
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
  width: 100%;
  gap: 50px;
}

.profile-posts-grid {
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.new-post, .edit-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 40vh;
  width: 30vw;
}

.new-post-page, .edit-post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:rgba(0, 0, 0, .1)
}

.cancel-new-post, .cancel-edit-post, .cancel-delete-comment {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, .5)
}

.new-post-header, .edit-post-header {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  font-weight: normal;
  font-size: 25px;
}

.new-post-form, .edit-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#comment {
  resize: none;
  width: 500px;
}

.new-post-submit, .edit-post-submit {
  background: cornflowerblue;
}

.post-content {
  border-bottom: 1px solid rgba(0, 0, 0, .3)
}

.new-post-form {
  border-top: 1px solid rgba(0, 0, 0, .3)
}

.commenter-info:hover {
  background-color: rgba(0, 0, 0, .05);
}

.commenter-info {
  width: 100%;
  padding: 10px;
}

.comment-edit-delete {
  display: flex;
  gap: 20px;
}

.comment-edit-delete>a {
  text-decoration: none;
  color: black;
  background-color: cornflowerblue;
  padding: 5px;
}

.comment-user {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.post-new-comment-btn {
  background-color: cornflowerblue;
}

.delete-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
}

.delete-post-form, .delete-comment-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  height: 40vh;
  width: 30vw;
}

.delete-post-header {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.delete-confirmation {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.delete-confirmation-button {
  font-size: 30px;
  cursor: pointer;
}

.delete-button {
  color: rgb(211, 5, 5)
}

.edit-comment-page, .delete-comment-page {
  background-color: rgba(0, 0, 0, .1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-comment-form {
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.edit-comment-submit {
  background-color: cornflowerblue;
}

.submit-comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-comment-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.friends-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.friend-profile {
  height: 60px;
}

.friends-list-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.friend-list-card-name {
  color: black;
}

.friends-list-cards>a {
  text-decoration: none;
}

.friends-list-user {
  text-decoration: none;
  color: black;
}

.full-post {
  margin: 20px;
}