body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: #00B7FF;
}

.user-cards {
  border: 1px solid black;
  padding: 5px;
}

img {
  height: 200px;
  width: auto;
}

button {
  background-color: cornflowerblue;
  border: 0px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-group {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
}