body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

.text-logo {
  height: 40px;
  width: auto;
}

.login-screen, .login-form, .form-group {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.form-group {
  gap: 20px;
}

.form-group>fieldset {
  flex: 1;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  padding: 20px;
}

a {
  color: #00B7FF;
}

.user-cards {
  border: 1px solid black;
  padding: 5px;
}

img {
  height: 200px;
  width: auto;
}

button {
  background-color: cornflowerblue;
  border: 0px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-group {
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
}

.post-card {
  border: 1px solid black;
  padding: 10px;
}

.post-body {
  font-size: 20px;
}

.post-card.info {
  border: none;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-top: 0px;
}

.post-card.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info > * {
  margin: 0px;
}

.post-author-timestamp {
  display: flex;
  gap: 10px;
}

.post-edit-delete {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.post-edit-delete > a {
  color: red
}

.user-cards > p {
  text-decoration: none;
}

.comment-layout {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.user-post-layout {
  margin-top: 10px;
  border: 1px solid black;
  padding: 5px;
}